.component-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#data-grid-row,
#panels-row {
  display: grid;
  grid-template-columns: 1fr;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #47a8f7;
  border-radius: 5px;
}

.component-container > * {
  margin: 0.25rem 0;
}

.component-example {
  margin-bottom: 0.5rem;
  width: 100%;
}

.component-example > p {
  margin-bottom: 0.5rem;
}

vscode-data-grid,
vscode-panels {
  border: 2px solid #47a8f7;
  border-radius: 5px;
}

.edgebutton {
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
}

.edgebutton:hover {
  background: #5e35b1;
  color: #eee;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}

.edgebutton-foreignobject div {
  background: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.reactflow-parent-wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.reactflow-parent-wrapper .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.chatflow-canvas .react-flow__handle-connecting {
  cursor: not-allowed;
  background: #db4e4e !important;
}

.chatflow-canvas .react-flow__handle-valid {
  cursor: crosshair;
  background: #5dba62 !important;
}
